/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* --ifm-color-primary: #9d2235;
  --ifm-color-primary-dark: #8d1f30;
  --ifm-color-primary-darker: #851d2d;
  --ifm-color-primary-darkest: #6e1825;
  --ifm-color-primary-light: #ad253a;
  --ifm-color-primary-lighter: #b5273d;
  --ifm-color-primary-lightest: #cc2c45; */
  --ifm-color-primary: #ffc82f;
  --ifm-color-primary-dark: #ffc011;
  --ifm-color-primary-darker: #ffbc02;
  --ifm-color-primary-darkest: #d39c00;
  --ifm-color-primary-light: #ffd04d;
  --ifm-color-primary-lighter: #ffd45c;
  --ifm-color-primary-lightest: #ffe08a;
  --ifm-background-color: #3b3a35;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ffc82f;
  --ifm-color-primary-dark: #ffc011;
  --ifm-color-primary-darker: #ffbc02;
  --ifm-color-primary-darkest: #d39c00;
  --ifm-color-primary-light: #ffd04d;
  --ifm-color-primary-lighter: #ffd45c;
  --ifm-color-primary-lightest: #ffe08a;
  --ifm-background-color: #3b3a35;
}

.medium-zoom-overlay{
  /*background-color: #00a400 !important;*/
  z-index: 999;
}

.medium-zoom-image--opened{
  z-index: 1000;
}

#atlwdg-trigger.atlwdg-trigger.atlwdg-RIGHT{
  background-color: #9d2235;
}
