.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
coverage/**
.nyc_output/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/LICENSE
node_modules/**/CHANGELOG.md
node_modules/**/.github
node_modules/**/.vscode
vitest.config.ts
*.vsix
.DS_Store
.env
.env.*
**/*.test.js
**/*.test.ts
**/test/**
**/tests/**